.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HEADER */

.header-container {
  background-color: #01579b;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 20vh;
}

.header-buttons-container {
  display:flex;
  flex-direction:row;
  margin-left: 530px;
  padding-top: 50px
}

.header-button {
  margin-left: 20px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.bar-graph {
  margin: auto
}

/* CUSTOMER GENERAL INFO */

.customer-general-info-container {
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 140px;
  padding-top: 50px;
  padding-bottom: 20px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5EM;
  background-color: #FFB74D
}

.customer-general-info-text {
  font-size: 35px;
  font-family: Geneva,Tahoma,Verdana,sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  margin-right: 110px;
  padding-bottom: 50px;
}

.customer-product-sales-graph {
  margin-top: 80px;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 140px;
  padding-top: 50px;
  padding-bottom: 20px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5EM;
    background-color: #FFB74D
}


/* CUSTOMER DASHBOARD CONTAINER */

.customer-dashboard-container {
  margin-bottom: 100px;
}

.products-list-container {
  margin: auto;
}

.ui-dropdown{
  margin-top: 10px
}

/* CUSTOMER NOTES CONTAINER  */

.customer-notes-container {
  margin-top: 80px;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 140px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5EM;
    background-color: #FFB74D
}

.customer-notes-header {
  margin-top: 500px

}

/* CUSTOMER-NOTES  */

.customer-note-body-container {
  margin-right: 150px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.note-buttons {
  margin-top: 5px
}

/* CREATE-CUSTOMER-note */

.create-note-container {
  margin-top: 20px;
  margin-right: 150px
}

/* UserProductSalesInfo */

.product-sales-and-annual-goal-container {
  display:flex;
  flex-direction:row;
  margin-top: 100px;
  margin-left: 400px;
}

.user-annual-sales-goal-radial-chart {
  margin-left: 40px;
  margin-top: 50px
}

.user-product-sales-bar-graph {
  padding-top: 20px
}


/* sidebar */

html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 50px;
}

.bm-burger-bars {
  background: #ffffff;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #ffffff;
}

.bm-menu {
  background: #1e88e5;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.sidebar-customer-list-item {
  font-size: 2.0em;
  font-family: helvetica;
  padding: 1.5em 0em 1.0em;
  font-variant: small-caps;
}

/* PRODUCT */

.product-list-item {
  padding-top: 200px
}

.product-header {
  padding-left: 20px;
}

.product-category-header {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 550px;
  margin-right: 550px;
  font-variant: small-caps;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.3em
}

/* CATEGORY SELECTOR */

.select-category-header {
  margin-top: 50px;
  font-variant: small-caps;
  margin-bottom: 80px;
  margin-left: 500px;
  margin-right: 500px;
  font-variant: small-caps;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.3em
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 50px;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1.0em
}

.page-selector-container {
  padding: 50px;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1.0em
}

.grid-item {
  background-color: #7e57c2
}

.product-table {
  padding-left: 100px;
  padding-right: 100px;
}

/* USER DASHBOARD CONTAINER */

.user-dashboard-header {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 500px;
  margin-right: 500px;
  font-variant: small-caps;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.3em
}

.user-dashboard-charts-container {
  /* border-width:5px;
  border-style:ridge;
  border-radius: 1.0EM; */
}

.user-sales-goal-charts {
  display:flex;
  flex-direction:row;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 140px;
  padding-top: 50px;
  padding-bottom: 20px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5EM;
}

.product-sales-and-annual-goal-container {
  margin-top: 100px;
  display:flex;
  flex-direction:row;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 140px;
  padding-top: 50px;
  padding-bottom: 20px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5EM;
}

/* CUSTOMER DASHBOARD CONTAINER */

.customer-dashboard-header {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 500px;
  margin-right: 500px;
  font-variant: small-caps;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-variant: small-caps;
  border-radius: 0.3em;
  background-color: #FFB74D
}

/* CREATE ORDER CONTAINER */

.create-order-form-container {
  margin-bottom: 100px;
}

.create-order-header {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 500px;
  margin-right: 500px;
  font-variant: small-caps;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-variant: small-caps;
  border-radius: 0.3em
}

/* CREATE FORM  */

.select-customer-dropdown {

}

.product-row {
  margin-bottom: 30px;
  padding-bottom: 10px;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.3EM;
}

.number-input {
  margin-left: 20px
}

.order-form-container {
  border-width:1px;
  border-style:ridge;
  border-radius: 1.0EM;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  padding-bottom: 100px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.select-customer-dropdown {
  margin-top: 50px;
}
