.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  margin-right: 75%
}

.header-container {
  background-color: #ffb74d;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 20vh;
}

.header-buttons-container {
  padding-top: 40px
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.bar-graph {
  margin: auto
}

.customer-general-info-container {
  border-style: outset;
  border-color: #ffb74d;
  border-radius: 0.3EM;
  margin-left: 300px;
  margin-right: 300px;
}

.customer-general-info-text {
  font-size: 20px;
  font-family: Geneva,Tahoma,Verdana,sans-serif;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.customer-product-sales-graph {
  border-style: outset;
  border-color: #ffb74d;
  border-radius: 0.3EM;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.customer-notes-container {
  border-style: outset;
  border-color: #ffb74d;
  border-radius: 0.3EM;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.products-list-container {
  margin: auto
}

.user-annual-sales-goal-radial-chart {

}

.user-sales-goal-charts {
  margin-top: 50px;
  display:flex;
  flex-direction:row;
  margin-left: 360px
}

.user-product-sales-charts {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.grid-container {
  /* display: grid;
  grid-template-columns: auto auto; */
  padding: 10px;
}

.grid-item {
  margin-right: 500px;
}


.ui-dropdown{
  margin-top: 10px
}
