.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HEADER */

.header-container {
  background-color: #01579b;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 20vh;
}

.header-doodads-wrapper {
  display: inline-block;
}

.header-buttons-container {
  display:flex;
  flex-direction:row;
  margin-top: 75px
}

.header-button {
  margin-left: 100px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.bar-graph {
  margin: auto
}

/* MAIN CONTAINER */


/* CUSTOMER GENERAL INFO */

.customer-general-info-container {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 80px;
  padding-left: 140px;
  padding-top: 50px;
  padding-bottom: 20px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5EM;
  background-color: #F57C00
}

.customer-info-doodads-wrapper {
  display: inline-block;
}

.customer-text-and-photo-container {
  display:flex;
  flex-direction:row;
  margin-left: 0px;
  margin-right: 200px;
  padding-left: 140px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.customer-logo-container {
  padding-right: 100px
}

.customer-logo {
  border-radius: 0.8EM;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.customer-general-info-text {
  font-size: 35px;
  font-family: Geneva,Tahoma,Verdana,sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  margin-right: 110px;
  padding-bottom: 50px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5EM;
  background-color: white
}

/* CUSTOMER PRODUCT SALES INFO */

.customer-product-sales-graph-container {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5EM;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 80px;
  background-color: #F57C00
}

.customer-product-sales-graph {
  margin-top: 40px;
  margin-bottom: 100px;
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5em;
  background-color: white
}

.customer-product-sales-chart-header {
  padding-top: 50px;
  font-variant: small-caps;
  color: white
}

.customer-product-sales-doodads-wrapper {
  display: inline-block;
}


/* CUSTOMER DASHBOARD CONTAINER */

.customer-dashboard-container {
  margin-bottom: 100px;
}

.products-list-container {
  margin: auto;
}

.ui-dropdown{
  margin-top: 10px
}

/* CUSTOMER NOTES CONTAINER  */

.customer-notes-container {
  margin-top: 80px;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 140px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5EM;
  background-color: #F57C00
}

.customer-notes-header {
  margin-right: 150px;
  font-variant: small-caps;
  color: white
}

/* CUSTOMER-NOTES  */

.customer-note-body-container {
  margin-right: 150px;
  margin-top: 10px;
  padding-top: 30px;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.5EM;
  background-color: white
}

.note-buttons {
  margin-top: 20px;
  margin-bottom: 10px
}

/* CREATE-CUSTOMER-note */

.create-note-container {
  margin-top: 20px;
  margin-right: 150px;
}

/* UserProductSalesInfo */

.product-sales-and-annual-goal-container {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5EM;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 80px;
  padding-bottom: 50px;
  background-color: #F57C00
}

.user-product-sales-info-chart-header{
  padding-top: 50px;
  font-variant: small-caps;
  color: white;
}

.user-product-sales-bar-graph {
  padding-left: 30px;
}

.user-annual-sales-goal-radial-chart {
  padding-left: 180px;
  padding-right: 80px;
  margin-right: 80px;
  margin-bottom: 20px;
}

.user-product-sales-doodads-wrapper {
  display: inline-block;
}

.user-product-sales-info-charts {
  display:flex;
  flex-direction:row;
  margin-left: 110px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 200px;
  padding-left: 140px;
  padding-top: 50px;
  padding-bottom: 20px;
  align-items: center;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5em;
  background-color: white
}


/* sidebar */

html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 75px;
}

.bm-burger-bars {
  background: #ffffff;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #ffffff;
}

.bm-menu {
  background: #1e88e5;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.sidebar-customer-list-item {
  font-size: 2.0em;
  font-family: helvetica;
  padding: 1.5em 0em 1.0em;
  font-variant: small-caps;
}

/* PRODUCT */

.product-list-item {
  padding-top: 200px;
}

.product-header {
  padding-left: 20px;
}

.product-category-header {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 550px;
  margin-right: 550px;
  font-variant: small-caps;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.3em;
}

/* CATEGORY SELECTOR */

.select-category-header {
  margin-top: 50px;
  font-variant: small-caps;
  margin-bottom: 80px;
  margin-left: 700px;
  margin-right: 700px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-variant: small-caps;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.3em;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 50px;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1.0em;
  background-color: #F57C00
}

.page-selector-container {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 80px;
  padding-right: 45px;
  margin-left: 400px;
  margin-right: 410px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.6em;
  background-color: #F57C00;
  margin-bottom: 300px;
}

.page-selector-buttons-container {
  display: flex;
  flex-direction:row;
  padding-top: 50px;
  padding-bottom: 60px;
  margin-left: 10px;
  margin-right: 50px;
  padding-right: 60px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.6em;
  background-color: white
}

.page-selector-button {

  border-radius: 1.0em;
  margin-left: 65px
}

.product-table {
  padding-left: 100px;
  padding-right: 100px;
}

/* USER DASHBOARD CONTAINER */

.user-dashboard-header {
  margin-top: 50px;
  font-variant: small-caps;
  margin-bottom: 80px;
  margin-left: 700px;
  margin-right: 700px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-variant: small-caps;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.3em;
}

/* USER SALES GOAL INFO */

.user-doodads-wrapper {
  display: inline-block;
}


.user-sales-goal-charts {
  display:flex;
  flex-direction:row;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 300px;
  margin-bottom: 40px;
  padding-left: 50px;
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 20px;
  align-items: center;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5em;
  background-color: white
}

.daily {
  padding-left: 80px;
  padding-right: 80px
}

.weekly {
  padding-left: 80px;
  padding-right: 80px
}

.monthly {
  padding-left: 80px;
  padding-right: 80px
}

.user-sales-goal-charts-container {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5EM;
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 50px;
  background-color: #F57C00
}

.user-sales-goal-chart-header {
  padding-top: 30px;
  font-variant: small-caps;
  color: white
}

/* CUSTOMER DASHBOARD CONTAINER */

.customer-dashboard-header {
  margin-top: 50px;
  font-variant: small-caps;
  margin-bottom: 80px;
  margin-left: 700px;
  margin-right: 700px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-variant: small-caps;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.3em;
}

/* CUSTOMER SALES GOAL INFO */

.customer-sales-goal-charts-container {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5EM;
  margin-left: 200px;
  margin-right: 200px;
  background-color: #F57C00
}

.customer-sales-tracker-doodads-wrapper {
  display: inline-block;
}

.customer-sales-goal-charts {
  display:flex;
  flex-direction:row;
  margin-top: 40px;
  margin-bottom: 100px;
  padding-bottom: 50px;
  padding-top: 50px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5em;
  background-color: white
}

.customer-sales-goal-chart-header {
  padding-top: 50px;
  font-variant: small-caps;
  color: white
}

/* CREATE ORDER CONTAINER */

.create-order-form-container {
  margin-bottom: 100px;
}

.create-order-header {
  margin-top: 50px;
  font-variant: small-caps;
  margin-bottom: 80px;
  margin-left: 700px;
  margin-right: 700px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-variant: small-caps;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.3em;
}

/* CREATE FORM  */

.product-row {
  margin-bottom: 30px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.3EM;
  background-color: #01579b;
}

.order-form-select-customer-header {
  font-variant: small-caps;
  padding-top: 30px;
  color: white
}

.order-form-container {
  border-width:1px;
  border-style:ridge;
  border-radius: 1.0EM;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  padding-bottom: 100px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #F57C00
}

.form-wrapper {
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 50px;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 0.3EM;
  background-color: white
}

.select-customer-dropdown {
  margin-top: 20px;
}

.order-total {
  padding-bottom: 20px
}

/* USER BEST SELLER CONTAINER */

.user-best-sellers-table-container-component {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5EM;
  margin-left: 200px;
  margin-right: 200px;
  padding-right: 10px;
  margin-top: 80px ;
  padding-bottom: 50px;
  background-color: #F57C00
}

.user-best-sellers-category-header {
  padding-top: 50px;
  font-variant: small-caps;
  color: white
}

.user-best-seller-table {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 120px;
  margin-left: 120px;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 30px;
  padding-bottom: 40px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5em;
  background-color: white
}

/* PRODUCTS LIST CONTAINER */

.products-page-category-header {
  margin-top: 50px;
  font-variant: small-caps;
  margin-bottom: 80px;
  margin-left: 700px;
  margin-right: 700px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-variant: small-caps;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.3em;
}

.products-list-container-in-container-component {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5EM;
  margin-left: 200px;
  margin-right: 200px;
  padding-right: 10px;
  margin-top: 80px ;
  padding-bottom: 50px;
  background-color: #F57C00
}

.products-list-category-header {
  padding-top: 50px;
  font-variant: small-caps;
  color: white
}

.products-list-table {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 120px;
  margin-left: 120px;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 30px;
  padding-bottom: 40px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5em;
  background-color: white
}
